* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Quicksand' sans-serif;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addBookForm {
  display: grid;
  place-items: center;
  border: 2px solid #e0dddd;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 63%);
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
}

button {
  display: grid;
  margin-left: auto9.5%;
  margin-top: 1%;
}

button:hover {
  background-color: green;
  color: white;
}

.separator {
  width: 20%;
  margin: auto;
  margin-top: 5%;
}

.even-book {
  background-color: silver;
  border: 2px solid #e0dddd;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 63%);
}

.odd-book {
  background-color: white;
}

#bookList {
  display: flex;
  flex-direction: column;
}

/* nav  */
nav {
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 1px;
  border: 2px solid #e0dddd;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 30%);
}

nav ul .logo {
  margin-right: auto;
  cursor: pointer;
}

nav ul li {
  margin-right: 20px;
  border-right: 1px solid rgb(128, 47, 0);
  padding-right: 10px;
}

nav ul li:last-child {
  border-right: none;
  padding-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a.active {
  color: #ff0000;
}

.right-section {
  float: right;
}

#contactSection {
  display: grid;
  place-items: center;
  border: 2px solid #e0dddd;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 63%);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: -5%;
  margin-left: 30%;
  margin-right: 30%;
}

#bookList {


}

#bookList.border {
  border: 1px solid rgba(97, 255, 6, 0.01);
  padding-left: 10%;
  padding-right: 10%;
}

/* footer  */
.copyright {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

#current_date {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}